@model Library.MVC.Models.Premises

@{
    ViewData["Title"] = "Add New Premises";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Add New Premises</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label fw-bold"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                      
                        <div class="mb-3">
                            <label asp-for="Address" class="form-label fw-bold"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Town" class="form-label fw-bold"></label>
                            <input asp-for="Town" class="form-control" />
                            <span asp-validation-for="Town" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RiskRating" class="form-label fw-bold">Risk Rating</label>
                            <select asp-for="RiskRating" class="form-select">
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>
                            <span asp-validation-for="RiskRating" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Save Establishment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>