@model Library.MVC.Models.FollowUp

@{
    ViewData["Title"] = "New Follow-Up";
}

<h2>Create Follow-Up</h2>

<form asp-action="Create">
    <input type="hidden" asp-for="InspectionId" />

    <div class="form-group">
        <label>Due Date</label>
        <input asp-for="DueDate" class="form-control" type="date" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
        </select>
    </div>



    <button type="submit" class="btn btn-primary mt-3">Save Follow-Up</button>
</form>