@model Library.MVC.Models.Member

<h2>Create Member</h2>

<form asp-area="Admin" asp-controller="Members" asp-action="Create" method="post">
    <div class="mb-3">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Phone Number</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-area="Admin" asp-controller="Members" asp-action="Index" class="btn btn-secondary">Back</a>
</form>